       <div class="event-area one text-center pt-140 pb-150">
            <div class="container">
                <div class="row">
                     <div class="col-xs-12">
                        <div class="section-title">
                            <img src="img/icon/section.png" alt="section-title">
                            <h2>UPCOMMING EVENTS</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="single-event mb-35">
                            <div class="event-date">
                                <h3><a href="event-details.html">20 <span>June</span></a></h3>
                            </div>
                            <div class="event-content text-left">
                                <div class="event-content-left">
                                    <h4><a href="event-details.html">MICRO BIOLOGICAL WORKSHOP</a></h4>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                        <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                                    </ul>
                                </div>
                                <div class="event-content-right">
                                    <a class="default-btn" href="event-details.html">join now</a>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 hidden-sm hidden-xs">
                        <div class="single-event mb-35">
                            <div class="event-date">
                                <h3><a href="event-details.html">12 <span>June</span></a></h3>
                            </div>
                            <div class="event-content text-left">
                                <div class="event-content-left">
                                    <h4><a href="event-details.html">MATHEMATICAL WORKSHOP</a></h4>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                        <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                                    </ul>
                                </div>
                                <div class="event-content-right">
                                    <a class="default-btn" href="event-details.html">join now</a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>