 @model HomeVM


     <section id="slider-container" class="slider-area"> 
            <div class="slider-owl owl-theme owl-carousel"> 
                <!-- Start Slingle Slide -->
                @foreach (var item in Model.Sliders)
               {
                    <div class="single-slide item" style="background-image: url(img/slider/@item.ImageUrl)">
                          <!-- Start Slider Content -->
                    <div class="slider-content-area">  
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7 col-md-offset-left-5"> 
                                    <div class="slide-content-wrapper">
                                        <div class="slide-content">
                                            <h3>@item.SliderDetail.Title </h3>
                                            @* <h2>PROPER HUMANITY </h2> *@
                                            <p>@item.SliderDetail.Desc  </p>
                                            <a class="default-btn" href="about.html">@item.SliderDetail.Button </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Slider Content -->
                     </div>
                }
              
                </div>
                <!-- End Slingle Slide -->

                <!-- End Slingle Slide -->								
            
        </section>
