   @model HomeVM
   <section class="notice-area pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="notice-left">
                            <h3>notice board</h3>
                            @foreach (var item in Model.Notices)
                            {
                                <div class="single-notice-left mb-25 pb-25">
                                <h4>@item.Date.ToString("d, MMMM yyyy",CultureInfo.CreateSpecificCulture("en-US"))</h4>
                                <p>@item.Description </p>
                            </div>
                            
                            }

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @* Notice Right *@
                        <div class="notice-right">
                            @foreach (var item in Model.Notices)
                            {
                                <div class="single-notice-right mb-25 pb-25">
                                <h3>@item.Title</h3>
                                <p>@item.Description</p>
                            </div> 
                                
                            }
                        
 
                        </div>
                    </div>
                </div>
            </div>
        </section>